@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Work+Sans:wght@700&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg_1);
}

.container {
  width: 80vw;
  height: auto;
  border: 1px solid var(--border);
  margin: 20px;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--bg_2);
}
