.profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.avatar{
    height:40vh;
    border: 1px solid var(--border);
}

p,a{
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: var(--txt_2);
   
}